{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <h1>Clientes APP</h1>

        {% if user.is_authenticated %}
            <h4>Seja bem vindo(a), {{ user.get_username}}</h4>
        {% else %}
            <h4>Faça login para visualizar os clientes.</h4>
        {% endif %}

        <ul class="opcoes">
            <li><a href="{% url 'cadastro' %}"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
 
        <!-- Botão de entrar no facebook -->
        <p>Entre com o facebook</p>
            <fb:login-button 
            scope="public_profile,email"
            onlogin="checkLoginState();">
            </fb:login-button>
        
    </div>
{% endblock %}